[2017-03-03 19:05] dsarfati opened #5 "StreamProvider missing for loose stream probes"
When running in loose stream creation mode, the stream provider will always be missing. Enable the stream provider to lazy create providers if `Silo.Options.StrictStreamProbes` is disabled

[2017-03-05 06:43] dsarfati opened #6 "Add ability to reset storage counts"
Need to allow storage counts for (writes,reads,clears) to be reset. Sometimes this is needed when setup of the test grain calls `WriteStateAsync`. I'm thinking simply added `Silo.Storage(grain).ResetCounts();` that sets all the counts to zero

[2017-05-03 13:28] rikbosch opened #10 "Add AddServiceProbe<T> to nuget package"
Hi,

Is it possible to release an new nuget version with TestServiceProvider support?

[2017-05-03 15:09] dsarfati commented on #10
@rikbosch I'm looking into getting AppVeyor to automatically push updated packages to nuget, so I should have a new version released today. Thanks for contributing!

[2017-05-03 15:25] dsarfati commented on #10
Done! You should be able to use 0.1.1 that includes everything that is in master. Let me know if you have problems

[2017-05-03 15:25] #10 closed

[2017-09-24 20:39] dsarfati opened #18 "[Idea] Mock Grain Factory"
Add a method to setup mocked grains regardless of grain id. Currently `Silo.AddProbe` is the only way of adding a mocked out grain. It is impossible to mock a grain with an unknown id.

[2017-09-24 20:42] jkonecki commented on #18
Good idea. I had a similar problem recently when trying to test a grain
that creates a 'child' grain to perform a subtask.

On Sun, 24 Sep 2017 21:39 Daniel <notifications@github.com> wrote:

[2017-09-25 06:48] wattsm commented on #18
I think [this PR] provides the functionality you're after? I was planning on getting it to a state where it can be merged into `master` this morning.

[2017-09-26 05:55] wattsm commented on #18
Merged in #11.

[2017-10-04 06:12] #18 closed

[2017-10-11 04:49] dsarfati opened #19 "Lazy Stream Providers with non "Default" provider name"
Allow non "default" stream providers to be created lazily. Currently, you can specify a stream provider name when adding a stream probe.

[2017-11-08 06:42] #6 closed

[2017-11-08 06:43] #5 closed

[2017-11-08 06:45] hazzik commented on #19
Not sure why GitHub did not resolve this issue. Shall be fixed by #21

[2017-11-08 06:52] dsarfati commented on #19
Merged in #21

[2017-11-08 06:52] #19 closed

[2017-12-18 12:28] martinothamar opened #28 "Orleans 2 and NETStandard"
Hi!

I see there's some work being done to support Orleans 2.0, which is great.
I see the `0.1.4-beta` is targeting `netcoreapp2.0`, but we are using .NET 4.6.1 and so isn't compatible. Any chance this could switch to `netstandard2.0`?

[2017-12-18 20:21] dsarfati commented on #28
I’ll take a look tonight. Don’t think there is any reason not to target netstabdard

[2017-12-18 23:30] #28 closed

[2017-12-19 20:41] dsarfati opened #30 "Typed grain probes."
Add grain key types to the probes to ensure the right Id type is being passed in based on the interface.

[2017-12-20 05:42] dsarfati opened #31 "Allow streams providers to be lazily created"
Since the changes were made to use 2.0.0-beta2, you now need to create a stream probe in order for the stream provider to exist. This should be a quick and easy change to the TestStreamProviderManager.

[2017-12-20 05:56] #31 closed

[2017-12-20 05:57] #30 closed

[2017-12-20 15:11] martinothamar opened #34 "Grain .State NullReferenceException in OnActivateAsync"
Using the latest 2.0.0-beta3 and getting a NullReferenceException in OnActivateAsync when trying to read or modify state from there. Looks like the private field `storage` is null on the grain object.

Reading and setting state outside of OnActivateAsync works fine. Both scenarios work fine when using the grains in a normal silo instance.

[2017-12-27 03:32] dsarfati commented on #34
Just fixed this. There was an ordering issue in the grain lifecycle where it was getting activated before the grain state was populated. I now trigger the lifecycle events in order so it should now always have the grain state prior to being activated.

I also included tests so we will check for this in the future.

Thanks for finding this bug and providing feedback!

[2017-12-27 03:32] #34 closed

[2018-03-06 08:42] raghur opened #36 "Failing with Orleans 2.0 rc1"
So I updated a .net core project using orleans 2.0 beta3 to rc1. After that my tests are failing as

[code]

My `BeforeEach` looks like this:

[code]

[2018-03-06 08:44] ReubenBond commented on #36
@raghur it looks as though one or more of your assemblies (eg, `Orleans.TestKit`) were built against an older version of Orleans.

[2018-03-06 14:36] dsarfati commented on #36
Yes, I should get a version using the RC out later this week.

[2018-03-14 10:35] AdamWyzgol commented on #36
I upgrade references to RC1 #38

[2018-03-15 16:07] dsarfati commented on #36
Orleans TestKit Nuget is now available for [2.0-RC2](https://www.nuget.org/packages/OrleansTestKit/2.0.0-RC2)

[2018-03-15 16:07] #36 closed

[2018-03-29 08:12] AdamWyzgol opened #40 "Fail after upgrade projec to Orleans 2.0"
After I upgrade our project to 2.0 I get error `Message: System.TypeLoadException : Method 'get_ServiceId' in type 'Orleans.TestKit.TestGrainRuntime' from assembly 'OrleansTestKit, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.
` on all test

[2018-03-30 06:31] dsarfati commented on #40
I haven't tried to run the 2.0 release yet. I will be working on that for our project within the next few days, and ill upgrade the test kit with anything else that i find.

[2018-04-06 19:11] dsarfati commented on #40
2.0.0 Support was just merged in via PR #41

[2018-04-17 05:52] raghur commented on #40
@dsarfati will you be publishing to nuget? the latest on nuget.org is still 2.0 RC2

[2018-04-17 06:47] dsarfati commented on #40
Pushing right now. I didn't realize that Appveyor is failing to publish to Nuget.org. Not sure how to fix it so I just did it manually.

[2018-04-17 09:16] raghur commented on #40
Looks like it wasn't pushed - Still shows 2.0 RC2 as the latest on nuget.org

[2018-04-30 18:15] #40 closed

[2018-07-26 15:55] el2iot2 opened #44 "NuGet 2.1.0 Package hasn't been generated/published?"
As mentioned [here](https://github.com/OrleansContrib/OrleansTestKit/pull/43#issuecomment-403257545), there hasn't yet been a 2.1.0 release to NuGet. Opening an issue in the hopes that I may just be hitting @dsarfati 's notification filters.

Current status in NuGet is:
![image](https://user-images.githubusercontent.com/28941195/43273305-fab9e044-90b0-11e8-98c6-9e076f3afb4d.png)

And I am hoping t

[2018-10-02 13:14] christiansparre opened #45 "Make the TestReminderRegistry behave more the the actual runtime ReminderRegistry"
Hi, we ran into a small issue using the test kit to test grain behavior when trying to unregister an unknown reminder.

On IReminderRegistry.GetReminder the TestReminderRegistry will throw a KeyNotFoundException instead of returning null as the runtime reminder registry does.

I have made the changes to support our needs and that behavior with this: https://github.com/christiansparre/OrleansTestKi

[2018-10-22 16:27] srollinet opened #46 "Add the ability to reactivate a grain"
Hi!
It seems it is not possible to reactivate a deactivated grain.
was it forgotten, or is it on purpose?

[2018-10-22 16:30] dsarfati commented on #46
Just never went through the effort to try and recreate the reactivation workflows.

[2018-11-07 21:18] keithazzopardi opened #47 "Calling this.GetPrimaryKey() from base class is failing"
I have a grain which is inheriting from a GrainBase. In the GrainBase I have a method which is using this.GetPrimaryKey() to perform another operation. I'm having the following error on this.GetPrimaryKey() when running the tests only.

Message: System.ArgumentException : Passing a half baked grain as an argument. It is possible that you instantiated a grain class explicitly, as a regular object a

[2019-01-23 10:01] skyflyer opened #48 "Change (remove?) type constraints on AddStreamProbe"
Currently, [AddStreamProbe](https://github.com/OrleansContrib/OrleansTestKit/blob/b5349785cf4a0691c088b26efea01121cd0f8c62/src/OrleansTestKit/Streams/StreamExtensions.cs#L8) requires reference type for the "message type" that is sent over the stream. But it should work with value types as well.

Luckily, the direct call works (so workarounds are possible):
[code]

[2019-03-04 09:51] tim-f commented on #44
Hi @dsarfati!
Do you have any updates on renewing package (2.1.0) library?

[2019-03-25 17:21] DarkCow opened #49 "Failing with Orleans 2.3.0"
Not sure what change to the core Orleans is. But after upgrading to Orleans 2.3.0 I am getting this exception while subscribing to streams. I suppose they added a new `SubscribeAsync` method

[code]

[2019-03-25 18:22] DarkCow commented on #49
https://github.com/OrleansContrib/OrleansTestKit/pull/50

[2019-03-28 16:33] DarkCow commented on #49
Fixed by #50

[2019-03-28 16:33] #49 closed

[2019-03-28 16:42] seniorquico commented on #44
It's less than ideal, but you can pull the latest NuGet package from AppVeyor:

https://ci.appveyor.com/project/dsarfati/orleanstestkit/build/artifacts

I'm going to work on automating new package deployments to NuGet in the next couple of days (waiting to get contributor access to the AppVeyor project and NuGet package). I'll leave this issue open and link the upcoming PR back to here.

[2019-03-28 16:43] seniorquico commented on #45
Thanks, @christiansparre! Would you be interested in opening a PR for these changes?

[2019-03-28 16:45] seniorquico commented on #46
That's an interesting idea, @srollinet. Do you have an example to share that would demonstrate the use case?

[2019-03-28 16:47] seniorquico commented on #47
Thanks for the report, @keithazzopardi. Is it possible for you to create and share some example code that reproduces the issue?

[2019-03-28 16:51] seniorquico commented on #48
Does #42 fully address this issue?

[2019-03-29 06:08] seniorquico commented on #44
AppVeyor is now configured to publish the artifacts to both NuGet and GitHub releases whenever a project maintainer tags a commit in this repository.

I just tagged 2.3.0, and the package has been successfully published!

[2019-03-29 06:08] #44 closed

[2019-03-29 06:17] srollinet commented on #46
One of the use cases I have to test is for a monitoring grain, that periodically checks a condition.

The activation logic looks like that

[code]

In this case, it would be nice to check that after deactivation, nothing happen anymore when the timers fire and that it start working again after the grain is reactivated.

As a workaround I call `OnActivateAsync()` manually on the grain. But it doesn

[2019-03-29 08:05] skyflyer commented on #48
@seniorquico, my tests are failing with the version compiled from pull request with a strange error message (` System.IO.FileNotFoundException : Could not load file or assembly 'Orleans.Core.Legacy, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified.`) - I suppose this could be a version mismatch issue (I compiled with the older SDK and I'm using Orle

[2019-03-29 14:55] seniorquico commented on #46
Do you mean that in your tests a call to `FireAllTimers` or `FireTimer` causes logic to run in a _deactivated_ grain?

That shouldn't be necessary. The testkit should call both `OnActivateAsync` and `OnDeactivateAsync` methods. Check out `LifecycleGrain` and the associated tests in `BasicGrainTests`. Here's an additional example (not in the test project) that combines it all:

[code]

[2019-03-29 15:26] srollinet commented on #46
No, of course not ;)

What I tried to test is something like that

[code]

So as the method doesn't exist, for now I call `OnActivateAsync` manually

[2019-03-29 15:52] seniorquico commented on #46
Got it!

I wonder if that is a desirable/valid scenario, though? Just an anecdote, but in a real silo I've noticed that an _object instance_ of the grain is not reused after a call to `OnDeactivateAsync`. Instead, a new object instance is created and then activated. I should probably dig into Orleans to confirm if that's a rule or just a coincidence-- I don't recall it being explicitly called out

[2019-03-29 16:22] seniorquico commented on #46
Relevant docs pages:

[What is a grain? (Behind the Scenes - Grain Lifecycle)](http://dotnet.github.io/orleans/Documentation/core_concepts/index.html)
[Activation Garbage Collection](http://dotnet.github.io/orleans/Documentation/clusters_and_clients/configuration_guide/activation_garbage_collection.html)

[2019-03-29 16:51] srollinet commented on #46
Ok, thanks for the references! So it seems you are right and once the grains are deactivated, they are GC'ed
So the Reactivation logic makes no sens at all and I need to change my unit test :)

[2019-03-29 16:52] srollinet commented on #46
That's what I feared:

[2019-03-29 16:59] seniorquico commented on #46
Yeah. But that's simply a limitation of the current testkit implementation. Let's brainstorm a pattern and a solution! :smile:

The example code I posted above seems reasonable, but it looks like an easy trap for the test writer to get it wring. You just have to know that you can't reuse the grain after the deactivation. I think it would also be slick if we could somehow detect whether the _deacti

[2019-03-29 17:08] srollinet commented on #46
But on the other hand, this doesn't refect the real behavior, as in Orleans you only have a reference to a virtual grain that will be automatically and transparently recreated and activated

[2019-03-29 17:21] seniorquico commented on #46
Sure the API to get a grain isn't the same, but I think getting the grain instance as opposed to a proxy can be advantageous in a number of "unit test" scenarios. I think "that you can't reuse the grain after the deactivation" _does_ reflect the real behavior, or it at least is close enough given the limits of mocking the runtime.

Another option is that the testkit _doesn't_ try to handle this sc

[2019-03-29 22:13] #45 closed

[2019-03-29 22:15] seniorquico commented on #45
Thanks, @christiansparre! I somehow missed the fact you already had the code ready to go! I just merged your changes into `master`.

[2019-03-31 16:34] seniorquico opened #55 "Add support for persistent state facets"
Orleans 2.3.0 introduced a persistent state facet. With the new system, grain classes do _not_ need to extend `Grain<TGrainState>` to use a built-in storage provider (they still need to extend `Grain`). This essentially trades the `State` property for constructor arguments passed via dependency injection. Unlike the single `State` property of `Grain<TGrainState>`, the constructor may take multiple

[2019-03-31 18:03] seniorquico commented on #47
Digging into Orleans... I found the [following `GrainExtensions` code](https://github.com/dotnet/orleans/blob/v2.3.0/src/Orleans.Core.Abstractions/Core/GrainExtensions.cs#L76):

[code]

The `grainBase.Data == null` check leads to the error message you cite. And that appears problematic for the test kit based on the [definition of `Grain.Data`](https://github.com/dotnet/orleans/blob/v2.3.0/src/Orle

[2019-03-31 18:03] #47 closed

[2019-04-01 03:43] dsarfati commented on #46
One possible way of supporting your use case would be to manually set the grain state prior to activating the grain. I think this would be the closest way of mimicking the true behavior of activating a grain for a 2nd time. This is just an example of what it might look like:

[code]

[2019-04-01 06:52] srollinet commented on #46
@dsarfati Thanks for the tip, it is exactly what I was thinking about :)

I  close the issue as this functionality doesn't really make sens.

[2019-04-01 06:52] #46 closed

[2019-04-01 17:42] seniorquico opened #57 "`ClearStateAsync` does not create a new state object instance"
I've been looking into areas where the TestKit behaviors differ from the Orleans runtime. I discovered that we aren't resetting the state property (in grains that extend `Grain<TGrainState>`) after calling `ClearStateAsync`. Right now, we're trying to mock both `IStorageProvider` and `IStorage`. We should look into swapping out the fake `IStorage` for [StateStorageBridge](https://github.com/dotnet

[2019-04-02 12:53] #48 closed

[2019-04-07 20:28] seniorquico commented on #48
@skyflyer The 2.3.1 release on NuGet includes the fix for streams of value types.

Let me know (preferably on #53) if you continue to have issues with the Orleans.Core.Legacy dependency.

[2019-04-07 22:12] skyflyer commented on #48
@seniorquico, I will check it out, though it may take a couple of days until I'm able to. Will update as soon as I test it. I suppose I'll need to upgrade my dependencies to Orleans 2.3 as well...

[2019-04-21 16:33] skyflyer commented on #48
@seniorquico, I'm sorry it took so long, but I finally got around to upgrading the dependencies and testing it out. It works, thanks!

[2019-04-29 18:22] kehigginbotham opened #59 "OnNextBatchAsync on TestStream does not have an implementation"
Upgraded to 2.3.1 today.  All unit tests that use TestStream now fail, with the following error:

`StackTrace:
at Orleans.TestKit.Streams.TestStreamProvider.GetStream[T](Guid streamId, String streamNamespace)
--- End of stack trace from previous location where exception was thrown ---
Result Message:	System.TypeLoadException : Method 'OnNextBatchAsync' in type 'Orleans.TestKit.Streams.TestStream'1

[2019-05-09 19:38] seniorquico opened #62 "Add support for `IAsyncStream.GetAllSubscriptionHandles`"
The test kit's `IAsyncStream<T>` implementation (`TestStream<T>`) lacks a `GetAllSubscriptionHandles` implementation. It simply throws a `NotImplementedException`.

The `TestStream<T>.SubscribeAsync` overloaded methods paired with the `TestStreamSubscriptionHandle<T>.UnsubscribeAsync` method should be used to maintain a list of active subscription handles. The `TestStream<T>.GetAllSubscriptionHand

[2019-05-11 17:37] jkonecki opened #63 "Add support for retrieving dynamically created mocks"
I'm trying to test an interaction between 2 grains - similar to Ping Pong test example.

Currently the only way to obtain a `Moq.Mock` object for the other grain (Pong) is to add the probe **before** the main gain (Ping) method executes. I use SpecFlow tests and have no way of knowing before the main grain executes what kind of verification will execute later.

The dynamically created `Moq.Mock` i

[2019-05-11 18:54] jkonecki commented on #63
Actually I've found the way of obtaining a `Mock` instance from the mocked object:

`Mock<IGrainInterface> mock = Moq.Mock<IGrainInterface>.Get(grain);`

[2019-05-11 18:54] #63 closed

[2019-05-11 20:35] seniorquico commented on #63
Thanks for the question and solution!

I know we're lacking docs in this project. I'm hoping to get started on some soon. I'll review issues, like these, to make sure we get some good examples in the docs for reference.

[2019-05-15 19:12] sigintarag commented on #59
Looks like OrleansTestKit, Version=2.3.1.0 was compiled against Orleans version 2.3.0 and there is a breaking interface change.

I was able to get tests to run by downgrading my orleans version to 2.3.0

[2019-05-16 01:12] #59 closed

[2019-05-16 01:36] seniorquico commented on #59
I have published an updated OrleansTestKit to NuGet that depends on Orleans 2.3.2. I figured it was only a matter of time before we get a GitHub issue identifying some breaking change against 2.3.2.

For now, I'm going to stick to a policy of updating the OrleansTestKit to the latest release of Orleans. That means we don't/won't have a release against Orleans 2.3.1. Ideally, we won't miss any incr

[2019-05-28 15:03] Johanny opened #65 "GrainProbeTests.ProbeWithClassPrefix is not testing anything. Fixing it is raising an exception."
While looking at the test project provided as documentation I saw some issues in the test `GrainProbeTests.ProbeWithClassPrefix`. Here is the code of the test for reference:

[code]
The first issue is the duplicated usage of the `iosGrain`. The second issue is the usage of the method `Equals` which is effectively doing nothing since its returned value is not used.

The last two lines of the test s

[2019-05-28 21:33] seniorquico commented on #65
Thanks, @Johanny! The call to `Equals` in the assertion lines is definitely a mistake.

However, I'm not entirely sure what was originally intended with those assertions. The calls to `GetDeviceGrain` end up returning mock objects, not real `IAddressable` instances. Additionally, the `GetDeviceType` methods on those mock objects have not been setup. Without being explicitly setup, they return `nul

[2019-05-28 21:45] #65 closed

[2019-05-28 21:49] seniorquico commented on #65
@Johanny, check out the updated tests:

https://github.com/OrleansContrib/OrleansTestKit/blob/3ce7fba5b74a81fca3f91ba05329ce89310fd947/test/OrleansTestKit.Tests/Tests/GrainProbeTests.cs#L145-L173

I hope these make more sense.

[2019-05-29 07:15] Johanny commented on #65
Yes the new tests are more insightful on the usage of probes and their possibilities. Thank you for the quick fix 👍

[2019-05-29 10:26] Johanny opened #67 "Add support for transactional state facet"
Since the release of [Orleans 2.1.0](https://github.com/dotnet/orleans/releases/tag/v2.1.0) grains now support [transactions](https://dotnet.github.io/orleans/Documentation/grains/transactions.html).

For a grain to use transactions it should be instanciated with a `ITransactionalState<TState>` facet:
[code]

It would be great to be able to unit test grain with a transactionnal state facet with th

[2019-05-29 17:21] seniorquico commented on #67
This is very similar to #55. We can support constructor injection of `ITransactionalState<TState>` mock objects by registering our own implementation of `IAttributeToFactoryMapper<TransactionalStateAttribute>` in the silo's dependency injection container.

[2019-06-02 07:02] #57 closed

[2019-07-15 15:45] #62 closed

[2019-07-17 07:59] Ilchert opened #73 "How to test GetPrimaryKeyLong?"
I am trying to mock some code with `GetPrimaryKeyLong` call and can't come to success. `IActivationData Data` inside grain is `null`.

[2019-07-17 13:59] seniorquico commented on #73
Yes, this is a [known limitation](https://github.com/OrleansContrib/OrleansTestKit/blob/master/README.md#known-limitations). See #47 for additional information.

The _potential_ workaround is to force a `GetPrimaryKey` extension method call that doesn't use `IActivationData`.

Feel free to re-open with more specific code examples.

[2019-07-17 13:59] #73 closed

[2019-08-30 13:08] Ilchert opened #75 "Await FireTimer"
In Orleans, timer callback returns `Task`, but in test framework, we can't await them, can we add `FireAllTimersAsync`?

[2019-08-30 14:43] seniorquico commented on #75
Yes, we should definitely be awaiting the task.

We can add a `Task`-based fire method and annotate the existing (broken) method with `[Obsolete]` for backwards compatibility. I don't think we should fix the current `Fire` method, as existing projects may be depending on its quirky behavior.

[2019-08-31 20:41] galvesribeiro opened #76 "Support beta 3.0"
Hey folks!

I'm trying to use TestKit with the new beta 3.0 but it is failing:

`System.TypeLoadException : Method 'GetGrain' in type 'Orleans.TestKit.TestGrainFactory' from assembly 'OrleansTestKit, Version=2.3.6.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.`

Is there any plans to make a least a beta package that support it soon? Otherwise will need to drop its usage.

[2019-09-01 05:01] seniorquico commented on #76
Hi, @galvesribeiro. You can pull a _quick_ build against 3.0.0-beta1 from MyGet (see the following page for configuration instructions based on your favorite NuGet client):

https://www.myget.org/feed/seniorquico/package/nuget/OrleansTestKit

I don't have any projects even looking at 3.0 yet. Would you mind testing out this build and following up with a 👍 or 👎? Thanks!

Notes:

- The existing test

[2019-09-01 14:28] galvesribeiro commented on #76
Hello @seniorquico thanks for the quick return.

I can confirm that at least the minimum GetGrain can work for now. I wasn't able to try out other stuff yet as this is the first time I'm using this test kit (nice work btw!).

I'll keep you posted.

Thanks!

[2019-09-02 02:15] galvesribeiro commented on #76
Hello @seniorquico just a heads up.

I've noticed the `Silo.OnDeactivate()` is not doing anything.

If I do something like this:

[code]

The internal field should be cleaned up after I call `DeactivateAsync()` but it looks like it isn't working. Idk if it is something that happened before the beta or something new for you...

[2019-09-02 16:26] seniorquico commented on #76
That is currently the expected behavior. See #46 for the discussion. In summary, Orleans does not (or at least did not the last time we discussed this) reuse object instances across different activations. Re-activating an instance sounds like an invalid scenario, and one we should not support. We should probably throw an exception in `OnActivateAsync` to make this clear.

The TestKit really provid

[2019-09-09 14:52] erikljung commented on #67
Any progress on this? Would be a great feature!

[2019-09-18 01:55] #75 closed

[2019-09-18 14:12] seniorquico commented on #67
@erikljung Not directly. I have a branch that adds the needed support for constructor injection, but I've only applied it to the state facet interfaces/classes.

[2019-09-30 08:44] RetroMechanics opened #78 "Argument issue on CreateGrainAsync"
Hi!

The function `CreateGrainAsync` systematically returns an `ArgumentException` to me when I try to create a grain. My grain extends `Orleans.IGrainWithIntegerKey`.

When I do:
`var grain = await Silo.CreateGrainAsync<IHelloGrain>(0L);`
I have this error: `error CS1503: Argument 1: cannot convert from' long' to' System.Guid' `

If I try to use a `System.Guid`, I have an `Argument 1: cannot conv

[2019-09-30 13:39] dsarfati commented on #78
When using the test kit you need to pass the grain class, not the interface into the ’CreateGrainAsync’ method. This allows you to test an explicit implementation of your grain.

[2019-09-30 15:28] as-ivanov opened #79 "Support for custom Service Provider"
Hi!

First of all, thank you for the great framework!

I'm trying to find out if there is any possibility to use a custom ServiceProvider. As far as I see, there is none. However, since my projects are based on Autofac modules, I'd like to have such functionality to avoid registering components twice.
The idea is to have a custom ServiceProvider which will first look for mock in Dictionary as it's

[2019-10-01 08:25] RetroMechanics commented on #78
That was it, thanks for your help.

[2019-10-01 08:25] #78 closed

[2019-10-01 15:39] seniorquico commented on #79
It's not currently possible. The [`TestServiceProvider`](https://github.com/OrleansContrib/OrleansTestKit/blob/2.3.6/src/OrleansTestKit/Services/TestServiceProvider.cs) implementation simply looks for requested services in its own internal dictionary.

It sounds like you're proposing a fallback service resolution strategy. I don't think that will work well in all scenarios, and could lead to subtl

[2019-10-03 14:41] as-ivanov commented on #79
Hello @seniorquico ,

Fair enough.

It's not about Autofac is somehow better than TestServiceProvider. My concern is about not making the same work twice and not duplicating a registration logic.
In my project every assembly exports an Autofac module which is responsible for registration all dependencies exported from that assembly. Any module may register other modules. Wherein an application mod

[2019-10-03 20:58] seniorquico commented on #79
I don't see any hard dependency on the `TestServiceProvider`. It sounds acceptable to open it up to allow registering a custom "conforming container" implementation.

[2019-10-04 09:16] as-ivanov commented on #79
Great. Let me create a pull request soon.

[2019-10-15 16:17] seniorquico commented on #76
An updated 3.0.0-rc1 package has been published to NuGet.

[2019-10-15 16:17] #76 closed

[2019-10-31 15:06] mgendre opened #81 "How to unit test GrainService"
Hello,

First, thank you for your amazing work !

I would like to know if it's possible to unit test GrainService using something like TestKitBase.
Is it possible to do it without creating a TestCluster ?

Thank you in advance,

[2019-10-31 18:00] seniorquico commented on #81
The TestKit does not currently support `GrainService`s, only `Grain`s. Perusing the abstract `GrainService` class and its base, abstract `SystemTarget` class, I'm not exactly sure what the TestKit could/would provide to assist with testing.

Do you have an example `GrainService` to share with some use cases to highlight?

[2019-11-04 11:07] mgendre commented on #81
Thank you for your reply,

We have a GrainService that is called on RX events subscription from a third party application, so it should runs on all silos in order to support redondancy. We choose GrainService to achieve that.

The service is a bit complex and calls internally several grains. Because this service is the entry point, we would like to unit test it and also inject mocked grains inside

[2019-11-05 23:26] seniorquico commented on #81
We do _not_ provide a mock `Silo` (the `TestKitSilo` is a misnomer... it doesn't extend `Silo` or correlate to anything in the Orleans framework). I'd recommend testing `GrainService`s via `TestCluster`. However, if you are able to build an example, we could discuss strategies and what, if anything, may be possible with the TestKit.

[2019-11-07 08:44] mgendre commented on #81
Here is an example of what I try to achieve:

[code]

Tell me if you need more

[2019-11-25 16:20] Gabrielm1 opened #82 "Timeout.InfiniteTimeSpan should execute only once with RegisterTimer"
Hi,

I noticed that the Timeout.InfiniteTimeSpan when it's used with the RegisterTimer doesn't work as expected. It's should only executed once, but it appears not to be.

Here is a dummy RegisterTimer

`
public Task DummyTimer() {
          RegisterTimer( o => SimpleMethod(),
                    "dummy",
                    TimeSpan.FromSeconds(5),
                    Timeout.InfiniteTimeSpan)
};

[2019-11-25 17:05] seniorquico commented on #82
Thanks for the detailed description, @Gabrielm1. Currently, the TestKit does not "schedule" or manage lifetimes of reminders or timers. Additionally, it keeps no record of reminders that have ticked or timers that have fired. The API simply enables calling the grain methods from a test. For now, this issue is by design/a known limitation.

There is a discussion about an improved API on PR #60. I h

[2020-02-25 10:46] TFarla commented on #55
I'm working on a project that uses `IPersistentState` so I'm curious how far you're along with this implementation.

[2020-02-27 05:27] seniorquico commented on #55
@TFarla I haven't added any helpers to the TestKit. However, you can still test grains that leverage the facet system with a little setup work. I added a unit test sample with #83 that demonstrates using the TestKit to inject the desired `IPersistentState`. Specifically, look at the new [StorageFacetTests.cs](https://github.com/OrleansContrib/OrleansTestKit/blob/06415718c53274c6b7e662abe301e506dea

[2020-02-29 16:22] pawanrao opened #84 "Unit testing streams and unsubscribing"
hey folks,
I'm having a problem testing streams with OrleansTestKit and perhaps someone here could throw some light on why that is happening
My sample code is up here:
https://gist.github.com/pawanrao/6c0c682e490b625a2db7d08098712b3c

The problem I'm facing is that when I try to assert that the stream subscriber for OnNextAsync is called correctly, the unsubscribe seems to happen before the test h

[2020-03-01 02:28] seniorquico commented on #84
@pawanrao It appears to be a problem in the TestKit... you unsubscribe, which tries to remove the subscription from a list, while the TestKit is iterating over the list.

[TestStream.cs lines 81-86](https://github.com/OrleansContrib/OrleansTestKit/blob/master/src/OrleansTestKit/Streams/TestStream.cs#L81-L86)

I thought this had been discovered and fixed before. 🤔

All we need to do is copy the lis

[2020-03-02 23:20] seniorquico commented on #84
Ah, this same issue had been discovered before with timers:

https://github.com/OrleansContrib/OrleansTestKit/pull/51

We just need to do the same, copy the list before iterating.

[2020-03-03 06:20] #84 closed

[2020-03-03 06:33] seniorquico commented on #84
@pawanrao An updated 3.0.1 package has been published to NuGet.

[2020-03-04 08:19] Ilchert opened #86 "Breaking changes in orleans 3.1"
With a new version of Orleans (3.1.1), I got an error
[code]
It looks like [this ](https://github.com/dotnet/orleans/commit/4531cd4438a7008617ec7aede78b27c5807a3151#diff-e3b54154434be59cc51ad629b908909e) change did breaking change in `IOrleansRuntime`.

[2020-03-04 16:29] Hechamon commented on #86
Since we just ran into the same problem I created a PR to up the Orleans version.
[https://github.com/OrleansContrib/OrleansTestKit/pull/87](https://github.com/OrleansContrib/OrleansTestKit/pull/87)

[2020-03-04 22:33] seniorquico commented on #86
Fixed in #87. An updated 3.1.0 package has been published to NuGet.

[2020-03-04 22:33] #86 closed

[2020-03-05 08:05] Ilchert opened #88 "Breaking change in Orleans 3.1.2"
[One more](https://github.com/dotnet/orleans/commit/4f436b2cf070448bc4e3d3592b0a69d870001916#diff-dab0f58c162c0f58a0d36f971fb31a77L33) breaking change in Orleans. Removed `RegistrationStrategy` from `IGrainActivationContext` in master, but [still exists](https://github.com/dotnet/orleans/blob/v3.1.2/src/Orleans.Core/Runtime/IGrainActivationContext.cs) in latest stable version 3.1.2.

[2020-03-05 12:55] Hechamon commented on #88
That was already in 3.1.1, V3.1 of the testkit should handle that aswell, or does it not?
https://github.com/OrleansContrib/OrleansTestKit/commit/1bf9ec295c38e29a6720d33e7d36e9ceb82849b9#diff-318120cf60278306f8489a8bfbda0d9a

[2020-03-05 13:15] Ilchert commented on #88
It looks like some bug in nuget package.
![image](https://user-images.githubusercontent.com/13449633/75984991-7f602b80-5efc-11ea-8ee7-92b571de52a6.png)

[2020-03-05 13:16] Ilchert commented on #88
No, the method still exists in [source code](https://github.com/dotnet/orleans/blob/v3.1.2/src/Orleans.Core/Runtime/IGrainActivationContext.cs)

[2020-03-05 13:39] Hechamon commented on #88
I see, what was released as Version 3.1.1 was a broken release which removed the Strategy. So Testkit 3.1.0 works with 3.1.1, but not with 3.1 or 3.1.2 🙄

The fix should be easy, just revert the change above, and then it should work again.

[2020-03-05 13:40] Hechamon commented on #88
So maybe there should be a Testkit Version 3.1.2 which is compatible with Orleans >3.1.2?

[2020-03-05 13:47] Ilchert commented on #88
It will be nice to have the same versions as Orleans

[2020-03-05 16:23] #88 closed

[2020-03-05 16:30] seniorquico commented on #88
Just an FYI... It's not practical to stay in-sync with Orleans version numbers. There are times where Orleans updates and we don't need to update (no breaking API changes), and there are times where Orleans doesn't update and we do (fixing bugs, adding new features).

I've been trying to stick with the same major & minor version components. I think we should just continue with something like Olrea

[2020-04-23 08:06] rvplauborg opened #91 "TestStreamSubscriptionHandle.ResumeAsync NotImplementedException"
Hi,

We use TestKitBase for unit testing grains, but I am encountering when attempting to call a method that resumes handlers in the grain, a `NotImplementedException` on `TestStreamSubscriptionHandle.ResumeAsync`. It makes sense when I read the code, since it is actually not implemented and set to throw this exception. But is there a reason for this? Are we not meant to call grain code that resum

[2020-04-24 17:52] seniorquico commented on #91
tbh, I think these weren't implemented because we only use implicit subscriptions in our projects and always call `IAsyncStream<T>.SubscribeAsync`. 👀🙂

To add support for `ResumeAsync`, I think we need a new method on `TestStream` that creates a `TestStreamSubscriptionHandle` not yet associated with an observer. In `ResumeAsync`, we'd have to find a way to pass the observer back up to the `TestStr

[2020-06-19 08:37] PepijnK commented on #55
For anyone Googling for this issue like me, here is the actual error that you get when assuming the `CreateGrainAsync` just works:
[code]

[2020-07-03 17:01] jkonecki-techfabric opened #92 "Removed `sealed` keyword"
Several key classes (`StorageManager`, `TestStorage`, `TestKitSilo`) are marked as `sealed`.

This means their behaviour cannot be customized.

I'm currently using a storage provider and grains that are event-sourced, and need custom behaviour around state handling (state is not just a single object, it's a stream of events). I also want to allow for richer tests when reading / writing state.

The

[2020-07-03 17:08] seniorquico commented on #92
@jkonecki-techfabric Sounds fine to me. But is `sealed` enough? Are there methods that would also need to be marked `virtual`? If you can, take a pass over the classes and submit a PR.

I believe the last release process ran fully automated. Publishing a new version on NuGet should be as simple as tagging the desired commit after the PR is merged.

[2020-07-03 17:10] jkonecki-techfabric commented on #92
Yes, TestStorage methods would be virtual. I'll make a PR shortly.

Thank you very much for a prompt response!
________________________________
From: Kyle Dodson <notifications@github.com>
Sent: Friday, July 3, 2020 6:08:50 PM
To: OrleansContrib/OrleansTestKit <OrleansTestKit@noreply.github.com>
Cc: Jakub Konecki <jakub@techfabric.co>; Mention <mention@noreply.github.com>
Subject: Re: [OrleansCont

[2020-07-03 20:04] #92 closed

[2020-08-24 10:13] pentp opened #95 "Need a new version for v3.3.0 support"
https://github.com/dotnet/orleans/pull/6580 added a new property for `IStorage<TState>` which is not implemented by current version of TestKit:
`System.TypeLoadException: Method 'get_RecordExists' in type 'Orleans.TestKit.Storage.TestStorage' from assembly 'OrleansTestKit, Version=3.1.2.0, Culture=neutral, PublicKeyToken=null' does not have an implementation..`

This property will be included in v

[2020-09-10 04:12] seniorquico opened #98 "Implement RecordExists"
The TestStorage should implement the new `RecordExists` property introduced in Orleans 3.3.0. A call to `WriteStateAsync` should set `RecordExists` to `true`, and a call to `ClearStateAsync` should set `RecordExists` to `false.

See the discussion notes on https://github.com/OrleansContrib/OrleansTestKit/pull/96.

[2020-09-10 04:18] seniorquico commented on #95
Released as 3.1.3. I opened https://github.com/OrleansContrib/OrleansTestKit/issues/98 as a follow-up. We should be able to provide a working implementation of the `RecordExists` property.

[2020-09-10 04:18] #95 closed

[2020-10-11 12:26] zeus82 commented on #98
I took a crack at it see - https://github.com/OrleansContrib/OrleansTestKit/pull/99

[2020-10-20 22:19] seniorquico commented on #98
Added in #99.

[2020-10-20 22:19] #98 closed

[2020-10-29 17:41] oising opened #100 "IAddressable.GetPrimary(Type)Key throws ArgumentException"
This pattern works fine at runtime in Orleans, but fails in the test kit.

[code]

[2020-10-29 19:45] seniorquico commented on #100
Yes, this is a [known limitation](https://github.com/OrleansContrib/OrleansTestKit/blob/master/README.md#known-limitations). See #47 for additional information.

There are some big grain ID changes in the works, and I'm hopeful that we might be able to find a solution once those are wrapped up.

[2020-12-11 06:45] freever opened #101 "It.IsAny<Id>"
Hi guys

Is there any way to configure TestKitSilo to return a mock grain when it is called with _any_ id?

I have a case where a grain will generate a new Guid and then activate a grain of another type using that new Guid in order to create a new instance of the target grain.

Thinking in terms of MoqI would use something like It.IsAny<Guid>() but TestKitSilo requires an actual Id. Since I am Gui

[2020-12-11 08:47] jkonecki commented on #101
The way I achieve it is by storing newly-generated Id in grain state (I need it in grain state anyway).

In the unit test I can fetch the Id from state and access new grain mock.

Another option (I think, not sitting in front of the code now) would be to enumerate all mocks (reflection magic may be needed) and find the one of the type of the new grain.

[2020-12-12 07:54] freever commented on #101
I think my problem is that I need to know the Id at setup time because I need to configure the mock grain to return certain values at runtime. I have resorted to using an IdFactory in cases where this is needed for me.

[2020-12-14 16:22] seniorquico commented on #101
I'd be open to a bit of a design discussion around this... I believe we hit it in a couple of projects in the past, and I resorted to `TestCluster`-based testing for these types of scenarios. I can see some potential for scaffolding a grain without knowing its unique identifier upfront. Do you have an API proposal? Additionally, what if the grain under test creates multiple, new grains of the same

[2020-12-15 06:05] freever commented on #101
@seniorquico I did some more digging in the code and found something that might work. I have inadvertently refactored away from needing to do this, but there appears to be a way to configure the TestGrainFactory using a factory func instead of an id:

[code]

So I guess in theory we could do something like this.

Given this grain:

[code]

We could set up a queue to return mocks in a sequence:

[c

[2020-12-15 12:28] freever commented on #101
Actually, I just had another need for this and it worked, at least in a simiplified scenario:

[code]

[2020-12-15 16:20] seniorquico commented on #101
Very neat, @freever! 🎉

We lack official docs, but we generally try to document how to use the TestKit with unit tests. Do you think you'd have some time to create a new test suite with different cases that show off a few different ways this strategy could be applied? Maybe a simplified case where the grain needs to create just one other grain, and maybe a more complex case where the grain uses yo

[2020-12-15 17:00] freever commented on #101
Will do!

On Tue, 15 Dec 2020 at 18:20, Kyle Dodson <notifications@github.com> wrote:

[2020-12-22 06:36] #101 closed

[2020-12-22 06:37] seniorquico commented on #101
Thanks @freever for contributing this example and a new test case!

[2021-01-09 20:11] marcosikkens opened #104 "TestKit support for JournaledGrains"
I was looking at the different examples but I couldn't find an example of a journaled grain that is being tested. Is this supported? I just want to call a method an verify that the "Raise event" is being called.

My grain is a journaled grain with a  [LogConsistencyProvider(ProviderName = "EventStorage")] and when activating this grain it would just crash with the following exception:

[code]

So

[2021-01-10 00:36] seniorquico commented on #104
I think the TestKit simply lacks support for `JournaledGrain`.

I previously implemented `ICustomStorageInterface` in a project, and iirc the `JournaledGrain` hooks into several pieces of the Orleans activation/context/internals. I would expect us needing some new mocking/infrastructure to support `JournaledGrain`.

[2021-01-28 17:02] enewnham commented on #55
Here is a helper extension method we are using

[code]

[2021-03-09 15:58] Romanx commented on #55
Thanks to @enewnham I adapted their extension to make it more of a wrapper allowing the values to be set during the processing of the grain and updated during processing. If any of TestKit maintainers are interested i'd be happy to submit a PR to make this offical.

[code]

[2021-03-11 09:49] Romanx commented on #55
@seniorquico I've opened a PR with some suggested changes that should allow multiple state facets to be registered based on state name and storage name. I had to make some other changes around storage which hopefully are clear

[2021-03-13 22:41] ebeuker commented on #104
I have been starting to use Orleans Journaled grains at work and I would like to help contribute to this feature.

I do not have a lot of knowledge about the inner workings of Orleans, could you point me in the right direction? What interfaces do you expect to need a mock implementation?

[2021-06-02 19:37] amccool opened #106 "Stream VerifySend<T> support for extended classes"
very typically streams are setup for a base class, then derived classes are passed down the stream to create different events within the stream.

[code]

[code]

because VerifySend is expecting only T, its not possible to see the derived type and verify its properties.

`stream.VerifySend(m=> m.MoreStuff == 100)`  doesnt work

https://github.com/OrleansContrib/OrleansTestKit/blob/f279cfc3d81dc64a3

[2021-06-06 16:10] michaeltdaniels opened #107 "TestStream OnNextBatchAsync"
Are there any plans to support OnNextBatchAsync in TestStream?
https://github.com/OrleansContrib/OrleansTestKit/blob/f279cfc3d81dc64a30425cc18280c7bd3558d546/src/OrleansTestKit/Streams/TestStream.cs#L94

Currently, we have been forced to switch to using OnNextAsync to avoid failing unit tests.  This can have undesired performance / cost implications depending on the actual stream implementation us

[2021-06-07 15:50] seniorquico commented on #106
Is the stream type defined as the base type `T`? Sending a message as derived type `S`, I would think an assertion is possible via the `check` function:

[code]

[2021-06-07 15:51] seniorquico commented on #107
A PR would be welcome!

[2021-06-07 19:27] amccool commented on #106
yes the base type is always `T`

[2021-06-22 05:04] #107 closed

[2021-07-28 12:22] HuwLittle opened #110 "Remove necessity of Moq on external methods"
Hi guys,

I really like the idea of this package, but having a hard dependency on Moq is not something that's palatable for my team.

I'm happy with the internal workings of this package using Moq, but would like this package to enable the end-user to use whatever mocking framework they want when using this package.

It seems like this is partially supported already with the Silo ServiceProvider (

[2021-07-28 17:43] seniorquico commented on #110
The idea of replacing Moq with a pluggable factory had come up before... I can't find the GitHub issue, though. Maybe it was a discussion on Gitter? 🤔 Regardless...

I'd be happy to review an API proposal that refactors the mocking framework into a separate dependency. It might make sense to start by listing the public APIs that introduce the Moq dependency. Then for each, we should review alterna

[2021-08-02 13:02] HuwLittle commented on #110
Yep completely agree on no breaking changes for existing users. And like this idea of having different adapters for different testing frameworks.

I'm keen on a fake implementation being passed in via an interface input, but will read through the code to see if this is applicable in all the scenarios where Moq is introduced.

I will start going through all externally exposed APIs, but will probabl

[2021-08-14 05:44] ElanHasson opened #115 "Unable to create multiple grains even though the test project does"
[code]

Here is my code:
[code]

[2021-09-12 06:33] Abhith opened #117 "README: Broken link"
Looks like the link [TestCluster unit testing approach](https://dotnet.github.io/orleans/Documentation/tutorials_and_samples/testing.html) mentioned in the readme is broken (404).

[2021-09-12 15:13] seniorquico commented on #117
Yes, the new URL is: https://dotnet.github.io/orleans/docs/implementation/testing.html

[2021-09-12 16:02] #117 closed

[2021-09-12 16:16] seniorquico commented on #115
@ElanHasson I'm not as familiar with NUnit, but did some quick reading here:

https://docs.nunit.org/articles/nunit/writing-tests/attributes/onetimesetup.html

Based on the docs, I think the lifecycle of your fixture is `SingleInstance` (based on the presence of the non-static `[OneTimeSetUp]` method). I think the problem here stems from the out-of-the-box difference between NUnit and xUnit. The t

[2021-09-12 22:48] ElanHasson commented on #115
Thanks Kyle, I had similar thoughts.

It's been a while since I was working on that repo on question, so memory is a bit fuzzy.

I Agree with your assessment. What about a Reset() be method on the base class? Why can't I clear the "container"?

[2021-09-13 00:28] seniorquico commented on #115
You can clear the container with the following. 😄

[code]

In all seriousness... Clearing the container would require re-creating and re-registering the various services/mocks. The `[OneTimeSetUp]` approach still wouldn't work. With `[OneTimeSetUp]`, you'd instead need to loop through the various services/mocks and call their own `Reset` methods (which is different and specific to each mocking fra

[2021-09-14 00:15] ElanHasson commented on #115
We just switched as a team from NUnit to xUnit for a large project I'm working on.

I might as well work more in it :)

We can close this-- the info you provided should help others find this conversation and if they don't have the luxury of switching, can revive this dialog 😄

Thanks for your help!

[2021-09-14 00:15] #115 closed

[2021-10-14 18:02] amcorch opened #119 "Grain Call Filters"
Is there any support for Grain Filters while using this test kit? I have grains that implement IIncomingGrainCallFilter, however it seems like the Invoke call is not executed when a grain method is called from my unit test.

[2022-04-06 10:12] runenilsenoe commented on #55
Any updates on this? @Romanx

[2022-05-12 00:29] oising commented on #55
It seems that this works partially in TestKit -- a "get" setup for state seems to work, but it the "set" setup seems to not work within the confines of TestKit, though it works fine when tested in isolation. It's very odd.

[2022-05-12 09:33] Romanx commented on #55
Sorry about the delay here, i've not had a chance to take a look. Let me try bring this into a reasonable state today.

[2022-06-06 14:30] amccool commented on #106
all this is working
[code]

[2022-06-06 14:31] amccool commented on #106
It would be nice to not have to do all the casting work with something like this:
`  stream.VerifySend<S>() `
where S is a subclass of T

closing this question

[2022-06-06 14:33] amccool commented on #91
#114 appears to have closed this

[2022-06-13 19:52] amccool opened #122 "Question for this.AsReference<IMyGrain> in timers"
getting the following when testing a timer

[code]

using
`            await Silo.FireAllTimersAsync();`
on
`            var myGrain = await Silo.CreateGrainAsync<MyGrain>(myguid, myspecialstring);`

timer is registered in `OnActivateAsync`

timer callback looks like this:
[code]

the `AsReference` is used so the timer execution counts as a grain call.

does the testkit handle this, or it this som

[2022-10-18 15:10] Badabunga opened #123 "Support for Orleans 7"
Hi Guys,

Love your project which makes the unit testing with Orleans very easy.
I know that Orleans 4.0 is not released yet but we are trying to migrate our current Orleans version to the latest preview ( currently preview 2). We used this Project to build our Unit Tests for our Application.

I am currently in the upgrading process and noticed a bunch of errors regarding reference type problems b

[2022-10-18 22:16] seniorquico commented on #123
I haven't had an opportunity to work on an Orleans 4.0 upgrade myself. However, I think there's a lot of opportunity to _simplify_ the mock-based testing implementation given the changes. I don't think I'll have time to invest in this until shortly after the official release. I would also anticipate we'll want to create a branch specific for 4.0 compatibility, given the big differences with 3.x.

[2022-10-19 05:57] Badabunga commented on #123
Thank you for your reply.

Would it be okay if I would contribute a branch where I would try to migrate the current Project to the 4.0 preview 2 ? I would not try to change the current State or Architecture but rather trying to fix the current Issues regarding the upgrade ?

[2022-10-19 20:53] seniorquico commented on #123
@Badabunga Of course! I just created a new branch named `orleans-7`. Feel free to open any pull requests against it. (Of note- it looks like they're going with Orleans 7.0 instead of 4.0 to align with the upcoming .NET release!)

[2022-11-18 21:25] jkonecki commented on #122
Hi Alex, you can use the following workaround. Add the below extension method and use it instead of `AsReference<T>()`. It will catch the exception during testing and return your mocked object.

[code]

[2022-11-22 03:30] seniorquico commented on #123
Awesome progress! I started playing around with Orleans 7 over the past week, and I bumped into a number of new, tricky scenarios. There are some Orleans `internal` classes that are proving problematic.

[2022-11-22 08:18] mayrmax commented on #123
I think the main problem are the "old" type of grains that inherit from Grain or from Grain<>, the new POCO style Grains can be easily created by just injecting the GrainContext.